.header {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 50px;
  padding: 70px 50px 40px 50px;
}

.slogan {
  margin-top: 15px;
  line-height: 20px;
  font-weight: 500;
}

.joinUs {
  margin-top: 40px;
}

.startHint {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: 0px;
    height: 100vh;
    padding: 100px 50px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
