.memberContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/form.webp");
  background-size: cover;
  /* width: 100vw; */
  height: 100vh;
  line-height: 30px;
  padding: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.signupContainer {
  padding: 20px;
}
.memberpageTitle {
  color: beige;
  margin: 40px;
  padding: 20px;
  width: 400px;
  line-height: 40px;
}

.memberformBtn {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 238, 55, 0.543);
}
.memberformBtn:active {
  transform: scale(0.95);
}

.memberformBtn:hover {
  background-color: rgba(255, 238, 55);
}

.signupToLoginHint:hover,
.loginToSignupHint:hover {
  cursor: pointer;
  color: #ff6666;
}
.signupTitle,
.loginTitle,
.signupHint,
.loginHint {
  color: white;
}

.closeWindow {
  position: absolute;
  color: white;
  font-size: 25px;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.googleButton {
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.googleImage {
  margin: 4px;
}
.errorMessage {
  color: #fff;
}
@media screen and (max-width: 500px) {
  .memberContainer {
    flex-direction: column;
    padding: 15px;
  }

  .signupContainer,
  .loginContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .memberpageTitle {
    width: auto;
    margin: 20px 0;
  }
}
