.editorImage {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}

.editorImage img {
  max-width: 100%;
  cursor: default;
}

.editorImage img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.editorImage img.focused.draggable {
  cursor: grab;
}

.editorImage img.focused.draggable:active {
  cursor: grabbing;
}

.editorImage .imageCaptionContainer .treeViewOutput {
  margin: 0;
  border-radius: 0;
}

.editorImage .imageCaptionContainer {
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 100px;
  color: #000;
  overflow: hidden;
}

.editorImage .imageCaptionButton {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.editorImage .imageCaptionButton:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.editorImage .imageResizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

.editorImage .imageResizer.imageResizerN {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}

.editorImage .imageResizer.imageResizerNe {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.editorImage .imageResizer.imageResizerE {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}

.editorImage .imageResizer.imageResizerSe {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}

.editorImage .imageResizer.imageResizerS {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}

.editorImage .imageResizer.imageResizerSw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}

.editorImage .imageResizer.imageResizerW {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}

.editorImage .imageResizer.imageResizerNw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}
