/* ./components/ReadOnlyEditor.module.css */
.readOnlyWrapper {
  margin-top: 30px;
  line-height: 32px;
}

.readOnlyWrapper > * {
  position: relative;
}

.readOnlyWrapper > p::after,
.readOnlyWrapper > ul::after,
.readOnlyWrapper > ol::after,
.readOnlyWrapper > h1::after,
.readOnlyWrapper > h2::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #00000056;
}

.readOnlyWrapper > image {
  background-image: none;
}
