.readOnlyWrapper {
  margin-top: 30px;
}
.readOnlyWrapper > * {
  position: relative;
}

.readOnlyWrapper > p {
  background-image: linear-gradient(to bottom, #00000056 1px, transparent 1px);
  background-size: 100% 24px;
}

.readOnlyWrapper > ul,
.readOnlyWrapper > ol {
  background-image: linear-gradient(to bottom, #00000056 1px, transparent 1px);
  background-size: 100% 24px;
}

.readOnlyWrapper > h1 {
  background-image: linear-gradient(to bottom, #00000056 1px, transparent 1px);
  background-size: 100% 48px;
}
.readOnlyWrapper > h2 {
  background-image: linear-gradient(to bottom, #00000056 1px, transparent 1px);
  background-size: 100% 36px;
}
