.mobileBackgroundWrapper {
  background-color: #efefef;
  border-radius: 0px 15px 15px 0px;
  padding: 10px 10px;
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: none;
}

.dotContainer {
  display: flex;
  flex-direction: column;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #a9a8a89d;
  margin: 30px 0px;
}

@media screen and (max-width: 900px) {
  .mobileBackgroundWrapper {
    display: block;
    /* min-height: 270vh; */
  }
}
