.diaryGuideTitle {
  font-weight: 800;
  font-size: 26px;
}

.diaryGuideText {
  line-height: 40px;
  font-size: 18 px;
}

@media screen and (max-width: 1200px) {
  .diaryGuide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .diaryGuide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .diaryGuideText {
    padding: 10px;
  }
}
