/* .myCalendarWrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
} */

.rbcCalendar {
  width: 38vw;
  height: 55vh;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  padding: 10px;
  color: #555;
}

.editedDate::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("/images/diary.png");
  background-size: cover;
  margin: 3px;
}

@media only screen and (max-width: 1200px) {
  .rbcCalendar {
    width: 35vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 768px) {
  .rbcCalendar {
    width: 80vw;
    height: 50vh;
  }
}
