.navContainer {
  display: flex;
  height: 8vh;
  width: 100%;
  position: fixed;
  justify-content: center;
  z-index: 2;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.navItem {
  display: flex;
}
.logo {
  font-size: 25px;
  font-weight: 600;
  margin-left: 18px;
  letter-spacing: 2px;
  margin-right: 10px;
}
.logoText {
  color: #ff6666;
}

.diary,
.signin,
.logout {
  color: #666;
  font-size: 18px;
  margin: 15px 10px;
  cursor: pointer;
}
.diaryLink:hover,
.diary:hover,
.signin:hover,
.logout:hover {
  color: #ff6666;
}

.signin {
  margin-right: 20px;
  color: #666;
}

.username {
  display: flex;
  align-self: center;
  margin: 0px 10px;
  color: #666;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .navContainer {
    background: linear-gradient(
      90deg,
      rgb(223, 223, 223) 0%,
      rgb(229, 229, 229) 27%,
      rgba(255, 255, 255, 0.486453956582633) 100%
    );
  }
}
