@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,300;0,400;0,500;0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courgette", "Noto Sans TC", sans-serif;
}

body {
  /* background-color: #d7d7d7; */
  background: linear-gradient(
    90deg,
    rgb(223, 223, 223) 0%,
    rgb(229, 229, 229) 27%,
    rgba(255, 255, 255, 0.486453956582633) 100%
  );
}
h1 {
  font-size: 32px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #666;
}

h3 {
  color: #666;
}

button {
  background-color: #fff;
  padding: 5px 20px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #2f2f2f;
}
button:active {
  transform: scale(0.95);
}
button:hover {
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 5px;
}

p {
  color: #2f2f2f;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  margin: 5px;
}
p:empty {
  margin-top: 1em;
  margin-bottom: 1em;
}
