.diaryLayout {
  display: flex;
  padding-top: 60px;
  width: 90%;
  max-width: 1200px;
}

.editorWrapper {
  display: flex;
}

.headerLayout {
  display: flex;
}

.homeLayout {
  background-image: url("../public/images/diarybook.jpeg");
  height: 100vh;
  background-size: cover;
}
