/* index page */
.headerLayout {
  display: flex;
}

.homeLayout {
  background-image: url("../public/images/diarybook.jpeg");
  height: 100vh;
  background-size: cover;
}

/* diary page */
.diaryWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.diaryPage {
  background-image: url("../public/images/book.jpeg");
  background-position: center;
  background-size: 150% 130%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.diaryLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 100vh;
}
.diaryGuide {
  margin-top: 50px;
}
.mobileBackground {
  display: none;
}

/* editor page */
.editorWrapper {
  background-image: url("../public/images/book.jpeg");
  background-position: center;
  background-size: 150% 130%;
  display: flex;
  justify-content: center;
}
.editorNav {
  margin-bottom: 150px;
}

@media screen and (max-width: 1200px) {
  .diaryPage {
    width: 100%;
  }
  .mobileBackground {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .homeLayout {
    background-position: center center;
  }
  .diaryPage {
    background-image: none;
    /* background-color: rgb(241, 241, 241); */
  }
  .diaryLayout {
    gap: 0%;
    display: flex;
    align-content: center;
  }
  .diaryCalendar {
    width: 90%;
  }
  .diaryGuide {
    width: 90%;
  }
  .mobileBackground {
    display: block;
  }
  .editorWrapper {
    background-image: none;
  }
  .muiContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .muiItem {
    flex-basis: 100%;
    max-width: 85%;
  }
}

@media screen and (max-width: 430px) {
}
