.diaryPage {
  background-image: url("../public/images/book.jpeg");
  height: 100vh;
  background-size: cover;
  /* background-position: center center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diaryLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  display: flex;
  width: 90%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.diaryGuide,
.diaryCalendar {
  max-width: 600px;
}
.editorWrapper {
  display: flex;
  background-image: url("../public/images/book.jpeg");
  background-size: cover;
}
.editorNav {
  margin-bottom: 150px;
}
.headerLayout {
  display: flex;
}

.homeLayout {
  background-image: url("../public/images/diarybook.jpeg");
  height: 100vh;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .diaryPage {
    background-image: none;
  }
  .diaryLayout {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .diaryCalendar {
    width: 100%;
  }
  .diaryGuide {
    width: 100%;
  }
}
